:root {
    --oxford-blue: #101935;
    --powder-blue: #9AD4D6;
    --azure: #daf9ff;
    --lavender: #DBCBD8;
    --cyber-grape: #564787;
}

* {
    font-size: 16px;
}

@media (max-width: 1080px) {
	* {
		font-size: 14px;
	}
}

@media (max-width: 875px) {
	* {
		font-size: 12px;
	}

    
}

@media (max-width: 750px) {

    /* Stack events panel & calendar panel for mobile screens*/
	* {
		font-size: 12px;
	}

    .bigContainer {
        display: grid;
        grid-template-columns: auto!important;
        height: 100vh;
    }

    .dashboardPanel {
        width: 100%;
        display: flex!important;

    }

    .calendarPanel {
        width: 100%;
        display: flex!important;
    }

    .calendarPanel .currentTime {
        display: none!important;
    }
}

@media (max-width: 520px) {

    .calendarHolder {
        width: 100%!important;
    }
}



body {
    background: rgb(86,71,135);
    background: radial-gradient(circle, rgba(86,71,135,1) 0%, rgba(16,25,53,1) 100%);
}

.card {
    color: var(--oxford-blue);
    box-shadow: 0 0 5px 0;
    margin: auto;
    max-width: 400px;
}


.button {
    background-color: var(--cyber-grape)!important;
    border: none!important;
}